.buttonContainer {
  margin-top: 10px;
  margin-left: 3px;
  margin-right: 3px;
  background: #fff;
  transition: background-color 0.5s ease;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  min-width: 70px;
  border-radius: 2.5em;

  &:hover {
    background-color: #f2f2f2;
  }
}

.redButton {
  padding: 8px;
  font-size: 13px;
  font-weight: 400;
  background-color: #fff;
  color: #ba1628;
  border: 1px solid #ba1628;

  &:hover {
    background-color: #f2f2f2;
  }
}

.clicked {
  background-color: #ba1628;
  color: #fff;

  &:hover {
    background-color: #ba1628;
    color: #fff;
  }
}
