.container {
  min-height: 100vh;
  padding: 0 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mainContainer {
  width: 100%;
  max-width: 1216px;
  margin-top: 16px;
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 769px) {
  .mainContainer {
    flex-direction: column;
    padding: 20px 0px;
    margin-top: 0px;
  }
}
