.container {
  margin-bottom: 40px;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  /*   justify-content: space-between; */
}

.header {
  margin: 15px 0;
}

@media screen and (max-width: 769px) {
  .container {
    margin-bottom: 10px;
  }

  .header {
    margin: 5px 0;
    font-size: 20px;
  }
}
